Clean the dataset with Geopandas

In [1]:
import geopandas as gpd

In [5]:
file_path = 'C:\\Users\\Admin\\Desktop\\Code\\brexit.gpkg'

In [9]:
dataset = gpd.read_file(file_path).set_index('LAD14CD', drop=False)

In [10]:
dataset.head()

,OBJECTID,LAD14CD,LAD14NM,LAD14NMW,id,Region_Cod,Region,Area,Electorate,ExpectedBa,...,Leave,Rejected_B,No_officia,Voting_for,Writing_or,Unmarked_o,Pct_Remain,Pct_Leave,Pct_Reject,geometry
LAD14CD,,,,,,,,,,,,,,,,,,,,,
E06000001,1,E06000001,Hartlepool,NaN,70,E12000001,North East,Hartlepool,70341,46137,...,32071,34,0,12,6,16,30.43,69.57,0.07,"MULTIPOLYGON (((-141202.225 7308889.307, -1411..."
E06000002,2,E06000002,Middlesbrough,NaN,71,E12000001,North East,Middlesbrough,94612,61395,...,40177,35,0,16,1,18,34.52,65.48,0.06,"MULTIPOLYGON (((-139272.615 7282988.170, -1390..."
E06000003,3,E06000003,Redcar and Cleveland,NaN,72,E12000001,North East,Redcar and Cleveland,103529,72741,...,48128,27,0,6,0,21,33.81,66.19,0.04,"MULTIPOLYGON (((-126494.218 7293275.078, -1264..."
E06000004,4,E06000004,Stockton-on-Tees,NaN,73,E12000001,North East,Stockton-on-Tees,141486,100462,...,61982,45,2,13,2,28,38.27,61.73,0.04,"MULTIPOLYGON (((-146637.970 7293230.452, -1466..."
E06000005,5,E06000005,Darlington,NaN,74,E12000001,North East,Darlington,77662,55194,...,30994,29,0,0,0,29,43.82,56.18,0.05,"MULTIPOLYGON (((-182304.320 7287910.300, -1823..."

In [8]:
# check all headers
print(dataset.columns)

Index(['OBJECTID', 'LAD14CD', 'LAD14NM', 'LAD14NMW', 'id', 'Region_Cod',
       'Region', 'Area', 'Electorate', 'ExpectedBa', 'VerifiedBa',
       'Pct_Turnou', 'Votes_Cast', 'Valid_Vote', 'Remain', 'Leave',
       'Rejected_B', 'No_officia', 'Voting_for', 'Writing_or', 'Unmarked_o',
       'Pct_Remain', 'Pct_Leave', 'Pct_Reject', 'geometry'],
      dtype='object')

In [11]:
# check the data
dataset.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 380 entries, E06000001 to W06000024
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    380 non-null    int64
 1   LAD14CD     380 non-null    object
 2   LAD14NM     380 non-null    object
 3   LAD14NMW    22 non-null     object
 4   id          380 non-null    int64
 5   Region_Cod  380 non-null    object
 6   Region      380 non-null    object
 7   Area        380 non-null    object
 8   Electorate  380 non-null    int64
 9   ExpectedBa  380 non-null    int64
 10  VerifiedBa  380 non-null    int64
 11  Pct_Turnou  380 non-null    float64
 12  Votes_Cast  380 non-null    int64
 13  Valid_Vote  380 non-null    int64
 14  Remain      380 non-null    int64
 15  Leave       380 non-null    int64
 16  Rejected_B  380 non-null    int64
 17  No_officia  380 non-null    int64
 18  Voting_for  380 non-null    int64
 19  Writing_or  380 non-null    int64
 20  Unmarked_o  380 non-null    int64
 21  Pct_Remain  380 non-null    float64
 22  Pct_Leave   380 non-null    float64
 23  Pct_Reject  380 non-null    float64
 24  geometry    380 non-null    geometry
dtypes: float64(4), geometry(1), int64(14), object(6)
memory usage: 77.2+ KB

In [12]:
dataset.describe()

,OBJECTID,id,Electorate,ExpectedBa,VerifiedBa,Pct_Turnou,Votes_Cast,Valid_Vote,Remain,Leave,Rejected_B,No_officia,Voting_for,Writing_or,Unmarked_o,Pct_Remain,Pct_Leave,Pct_Reject
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,190.500000,190.500000,118986.650000,86233.350000,86229.847368,73.757868,86228.018421,86162.339474,41266.347368,44895.992105,65.678947,0.563158,23.494737,2.197368,39.423684,46.859237,53.140763,0.072947
std,109.840794,109.840794,77547.729443,52439.419878,52436.123907,5.055726,52433.420365,52384.852373,29230.078503,27130.142244,57.435540,2.714898,26.534241,3.313121,31.388316,10.415582,10.415582,0.027705
min,1.000000,1.000000,1799.000000,1424.000000,1424.000000,56.250000,1424.000000,1424.000000,803.000000,621.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.440000,21.380000,0.000000
25%,95.750000,95.750000,72597.250000,54907.500000,54904.500000,70.290000,54898.500000,54866.750000,23575.750000,28743.500000,33.750000,0.000000,10.000000,0.000000,21.000000,39.640000,47.157500,0.060000
50%,190.500000,190.500000,96425.500000,72544.500000,72544.000000,74.345000,72544.500000,72511.500000,33475.000000,37573.500000,46.500000,0.000000,16.000000,1.000000,30.000000,45.700000,54.300000,0.070000
75%,285.250000,285.250000,141167.250000,103691.500000,103691.500000,77.895000,103691.500000,103598.000000,48222.500000,54016.500000,74.000000,0.000000,27.000000,3.000000,45.000000,52.842500,60.360000,0.080000
max,380.000000,380.000000,707293.000000,451422.000000,451336.000000,83.570000,451316.000000,450702.000000,223451.000000,227251.000000,614.000000,39.000000,311.000000,35.000000,286.000000,78.620000,75.560000,0.240000

In [13]:
# change the header name or dtype
# dataset.rename(columns={'sl__no_': 'Column1', 'state_ut': 'Column2', 'vaccine_doses_supplied':'Column3'}, inplace=True)

# select columns
# dataset = db[['Column1','Column2','Column3']]